<h1>
  <%= gravatar_for @user %>
</h1>

<% flash.each do |key, value| %>
	<div class="alert <%= key %> hideit">
		<p><%= value %></p>
    	<span class="close"></span>
	</div>
<% end %>

<%= @user.email %>