<div class="container">
  <div class="sixteen columns">
    <h2 class="title"> Selecione ou <%= link_to "Crie um condomínio", new_condo_path %><span></span></h2><br><br>
  </div>


<div class="three-third column">
    <ul class="square-list">
      <% @condos.each do | condo | %>
        <li><%= link_to condo.name, condo_path(condo.id) %></li>
      <% end %>
    </ul>
</div>
</div>