
/* ====================================== Custom CSS Code =================================================*/

/* you can add any custom css code for any class, id, tags and anything here, it will be active.. */

span.credit-card-brand img {
    vertical-align: bottom;
}

p.timeline-preview {
    margin-top: 10px;
    margin-bottom: 30px;
}