<footer>
    <div class="container">
        <br>
        <div class="ten columns">
            <span class="copyright">
                Criado por <a href="http://www.vivento.com.br" target="_blank" data="Vivento">Vivento</a> em parceria com  
                <a href="http://www.moip.com.br" target="_blank" data="Moip Pagamentos">Moip Pagamentos</a> | <a href="mailto:hello@vivento.com.br" data="Diga um olá">hello@vivento.com.br</a>
            </span>
        </div>

        <div class="six columns">
            <div class="social">
                <a href="#"><img src="images/icons/twitter.png" alt="" /></a>
                <a href="#"><img src="images/icons/facebook.png" alt="" /></a>
                <a href="#"><img src="images/icons/skype.png" alt="" /></a>
                <a href="#"><img src="images/icons/digg.png" alt="" /></a>
                <a href="#"><img src="images/icons/linkedin.png" alt="" /></a>
                <a href="#"><img src="images/icons/vimeo.png" alt="" /></a>
            </div>
        </div>

    </div><!-- End container -->
</footer><!-- <<< End Footer >>> -->