<footer>
    <div class="container">

        <div class="four columns">
            <div class="about">
                <h3 class="title">About Us<span class="line"></span></h3>
                <p>
                    Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing 
                    lipsum aenean orci lorem Asequat. <br /> lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor .
                </p>
            </div>
        </div><!-- End about -->

        <div class="four columns">
            <div class="tweets">
                <h3 class="title">Latest tweets<span class="line"></span></h3>
                <div class='tweet query footer'></div><!-- Tweets Code -->
            </div>
        </div><!-- End tweets -->

        <div class="four columns">
            <div class="flickr">
                <h3 class="title">Flickr<span class="line"></span></h3>
                <ul id="footer" class="thumbs"></ul> <!-- Flickr Code -->
            </div>
        </div><!-- End flickr -->

        <div class="four columns">
            <div class="subscribe">
                <h3 class="title">Subcribe<span class="line"></span></h3>
                <p>Subscribe to our e-mail newsletter to receive updates.</p>
                <form action="#">
                    <input type="text" class="mail" value="Enter your Email" onBlur="if(this.value == '') { this.value = 'Enter your Email'; }" 
                    onfocus="if(this.value == 'Enter your Email') { this.value = ''; }"/>
                    <input type="submit" value="Submit" class="submit" />
                </form>
            </div>
        </div><!-- End subscribe -->

        <div class="sixteen columns">
            <hr class="bottom" />
        </div>

        <div class="eight columns">
            <span class="copyright">
                Criado por <a href="http://www.vivento.com.br" target="_blank" data="Vivento">Vivento</a> em parceria com  
                <a href="http://www.moip.com.br" target="_blank" data="Moip Pagamentos">Moip Pagamentos</a> | <a href="mailto:hello@vivento.com.br" data="Diga um olá">hello@vivento.com.br</a>
            </span>
        </div>

        <div class="eight columns">
            <div class="social">
                <a href="#"><img src="images/icons/twitter.png" alt="" /></a>
                <a href="#"><img src="images/icons/facebook.png" alt="" /></a>
                <a href="#"><img src="images/icons/skype.png" alt="" /></a>
                <a href="#"><img src="images/icons/digg.png" alt="" /></a>
                <a href="#"><img src="images/icons/linkedin.png" alt="" /></a>
                <a href="#"><img src="images/icons/vimeo.png" alt="" /></a>
            </div>
        </div>

    </div><!-- End container -->
</footer><!-- <<< End Footer >>> -->