<header>
	<div class="container clearfix">
		
		<div class="one-third column">
			<div class="logo">
				<!-- <%= link_to image_tag("cloud.jpg", alt: "Vivento"), root_path %> -->
            	<h2>Vivento</h2>
			</div>
		</div><!-- End Logo -->
		
		<div class="two-thirds column">
			<nav id="menu" class="navigation">
				<ul id="nav">
					<li><a class="active" href="#">Meu Perfil</a>
						<ul>
							<li><a href="perfil.html">Dados Pessoais</a></li>
							<li><a href="formas_de_pagamento.html">Formas de Pagamento</a></li>
							<li><a href="#">Notificações via E-mail</a></li>
						</ul>
					</li>
					<li><a href="#">Pagamentos</a>
						<ul>
							<li><a href="pagamentos.html">Pagamentos Efetuados</a></li>
						</ul>
					</li>
					<li><a href="#">Condomínio</a>
						<ul>
							<li><a href="#">Mural de Avisos</a></li>
							<li><a href="#">Ideias de Melhorias</a>
								<ul>
									<li><a href="#">Amadurecimento</a></li>
									<li><a href="#">Votação</a></li>
								</ul>
							</li>
							<li><a href="#">Reservas</a></li>
							<li><a href="#">Livro de Ocorrências</a></li>
							<li><a href="#">Fale com o síndico</a></li>
						</ul>
					</li>
					<li><a href="#">Mensagens (2)</a>
						<ul>
							<li><a href="#">Recebidas (2)</a></li>
							<li><a href="#">Enviadas</a></li>
							<li><a href="#">Excluídas</a></li>
						</ul>
					</li>
					<% if signed_in? %>
						<li><%= link_to "Sair", signout_path, method: "delete" %></li>
					<% else %>
						<li><%= link_to "Entrar", signin_path %></li>
					<% end %>
				</ul>
				
			</nav>
		</div><!-- End Menu -->
		
		<div class="sixteen columns"><hr /></div>
		
	</div><!-- End Container -->

</header><!-- <<< End Header >>> -->