<header>
	<div class="container clearfix">
		
		<div class="one-third column">
			<div class="logo">
				<a href="index.html">
					<!--img src="images/logo.png" alt="Crevision - Creative Template" /-->
				</a>
			</div>
		</div><!-- End Logo -->
		
		<div class="two-thirds column">
			<nav id="menu" class="navigation">
				<ul id="nav">
					<li><a class="active" href="#1">Meu Perfil</a>
						<ul>
							<li><a href="perfil.html">Dados Pessoais</a></li>
							<li><a href="formas_de_pagamento.html">Formas de Pagamento</a></li>
							<li><a href="#">Notificações via E-mail</a></li>
						</ul>
					</li>
					<li><a href="#2">Pagamentos</a>
						<ul>
							<li><a href="pagamentos.html">Pagamentos Efetuados</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="team.html">Our Team</a></li>
							<li><a href="process.html">Process</a></li>
							<li><a href="sidebar_right.html">Page Right Sidebar</a></li>
							<li><a href="sidebar_left.html">Page Left Sidebar</a></li>
							<li><a href="FAQ.html">FAQ</a></li>
							<li><a href="sitemap.html">Sitemap</a></li>
							<li><a href="full_width.html">Full Width</a></li>
						</ul>
					</li>
					<li><a href="#3">Condomínio</a>
						<ul>
							<li><a href="#">Mural de Avisos</a></li>
							<li><a href="#">Ideias de Melhorias</a>
								<ul>
									<li><a href="#">Amadurecimento</a></li>
									<li><a href="#">Votação</a></li>
								</ul>
							</li>
							<li><a href="pricing_tables.html">Reservas</a></li>
							<li><a href="under_construction.html">Livro de Ocorrências</a></li>
							<li><a href="404.html">Fale com o síndico</a></li>
						</ul>
					</li>
					<li><a href="mensagens.html">Mensagens (2)</a>
						<ul>
							<li><a href="#">Recebidas (2)</a></li>
							<li><a href="#">Enviadas</a></li>
							<li><a href="#">Excluídas</a></li>
						</ul>
					</li>
					<% if signed_in? %>
						<li><%= link_to "Sair", signout_path, method: "delete" %></li>
					<% else %>
						<li><%= link_to "Entrar", signin_path %></li>
					<% end %>
				</ul>
				
			</nav>
		</div><!-- End Menu -->
		
		<div class="sixteen columns"><hr /></div>
		
	</div><!-- End Container -->

</header><!-- <<< End Header >>> -->